input{
    width: 40%;
    padding: 15px;
    font-size: 1.5vw;
}

.addBtn{
    width: 12%;
    padding: 15px;
    background-color: rgb(112,6,182);
    color: #fff;
    cursor: pointer;
    border:none;
    outline:none;
}
